[Unit]
Description=Application that automates deployemts. This runs its webhooks
Documentation=https://gitlab.com/nithinbose/deployer/

[Service]
Environment=DEPLOYER_DEFAULT_COMPOSE_FILE=docker-compose.yml
Environment=DEPLOYER_WEBHOOK_ACCESS_KEY=key
Environment=DEPLOYER_WEBHOOK_ACCESS_TOKEN=token
ExecStart=/usr/bin/deployer webhook

[Install]
WantedBy=multi-user.target